.home-page {
    padding: rem(40) rem(32);


    .wrapper-home-content {
        flex: 1;
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(100);
        align-content: center;
    }
}