$color-white: #FFFFFF;
$color-black: #000000;
$color-background: #F2F3F5;
$color-gray-line: #DCDDE0;
$color-text: #666666;
$color-text-highlight: #B3B9FF;
$color-title: #2E384D;
$color-red: #E83F5B;
$color-green: #4CD62B;
$color-blue: #5965E0;
$color-dark-blue: #4953B8;
$color-blue-twitter: #2AA9E0; 

$font-primary: 'Inter';
$font-secundary: 'Rajdhani';
$font-family: $font-primary, 'Helvetica', 'Arial', 'sans-serif';

$light: 400;
$regular: 500;
$bold: 600;

$font-xs: rem(14);
$font-sm: rem(16);
$font-md: rem(24);
$font-lg: rem(30);
$font-xl: rem(70);
$font-xxl: rem(100);

$phone-sm: 576px;
$tablet-md: 768px;
$desktop-lg: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1600px;
$desktop-4K: 2560px;

$container-xl: 1040px;
$container-xxl: 1540px;